.body {
	font-family: "Roboto", sans-serif;
}

.responsive-svg-container {
	margin-right: auto;
	margin-left: auto;
	width: 100%;
}

/* Navigation Bar */
#navigation {
	background-color: #14213d;
	padding: 20px 10px;
	z-index: 100;
}

#navigation li {
	padding: 0px 15px;
	margin-left: 10px;
	margin-bottom: 10px;
}


#navigation li a {
	color: #e5e5e5;
	font-size: 14px;
	letter-spacing: 2px;
	text-transform: uppercase;
}

#navigation li a:hover {
	color: #fca311;
}

.navbar-brand {
	color: #e5e5e5;
	font-size: 20px;
	margin-left: 10px;
	margin-right: 30px;
	letter-spacing: 2px;
	text-transform: uppercase;

}

.navbar-brand:hover {
	color: #fca311;
}

.navbar-toggler-icon {
	background: url(../img/menu.png);

}

.fixedNav #navigation {
	position: fixed;
	top: 0;

}

.yearSlider {
	-webkit-appearance: none;
	width: 100%;
	height: 25px;
	outline: none;
	opacity: 0.7;
	-webkit-transition: .2s;
	transition: opacity .2s;
}

.yearSlider:hover {
	opacity: 1;
}

.yearSlider::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 25px;
	height: 25px;
	background: #fca311;
	cursor: pointer;
}

.yearSlider::-moz-range-thumb {
	width: 25px;
	height: 25px;
	background: #fca311;
	cursor: pointer;
}

/* About Section */

.row .col-md-7 {
	margin-top: 20px;
}

.row .col-md-5 {
	margin-top: 20px;
}

h2 {
	font-size: 24px;
	margin-bottom: 30px;
	letter-spacing: 1px;
	color: #fca311;
}

h3 {
	font-size: 16px;
}

p {
	font-size: 14px;
}

fieldset {
	padding: 5px 10px;
	font-size: 12px;
	border-radius: 25px;
	background-color: #fca311;

}

.legendImg {
	max-width: 80%;

}

#legend {
	padding: 10px 0px 70px 0px;
}

.mapImg {
	max-width: 50;
	height: 400;
}

.tooltip {
	position: absolute;
}

.loader {
	border: 16px solid #f3f3f3;
	border-top: 16px solid #3498db;
	border-radius: 50%;
	width: 120px;
	height: 120px;
	animation: spin 2s linear infinite;
	display: block;
	margin: 0 auto;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

.dot {
	fill: steelblue;
	stroke: black;
	stroke-width: 1.5px;
}

.radio-buttons {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
  }
  
  .radio-button {
	margin-bottom: 10px;
  }
  
  input[type="radio"] {
	display: none;
  }
  
  label {
	position: relative;
	padding-left: 25px;
	cursor: pointer;
	font-size: 14px;
	color: #555;
  }
  
  label:before {
	content: "";
	position: absolute;
	left: 0;
	top: 3px;
	width: 16px;
	height: 16px;
	border: 1px solid #555;
	border-radius: 50%;
  }
  
  input[type="radio"]:checked + label:before {
	background-color: #ffa500;
	border-color: #ffa500;
  }
  
  label:hover:before {
	border-color: #007bff;
  }

  .dropdown {
	display: inline-block;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #555;
	vertical-align: middle;
	background-color: #fff;
	border: 1px solid #ccc;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	-webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  }
  
  .dropdown:focus {
	border-color: #66afe9;
	outline: 0;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
  }


  .legend {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 20px;
  }
  
  .legend-item {
	display: flex;
	align-items: center;
	margin-bottom: 10px;
  }
  .label-box {
	width: 100px;
  }
  .color-box {
	height: 20px;
	width: 1300px;
  }
  
  .depression-color {
	background: linear-gradient(to right, #D85A88, #2F121C);
  }
  
  .pollution-color {
	background: linear-gradient(to right, #4861AC, #0C1331);
  }
  
  .legend-label {
	margin-left: 10px;
	font-size: 14px;
  }
  
  
  
  